
#accountant-sidebar {
    text-align: center;
    background-color: #830CE8;
    height: 100%;
    width: 24%;
    float: left;
    border: 5px solid black;
    border-top: none;
    border-bottom: none;
}

#accountant-list {
    margin: 0;
    background-color: #ddd;
    height: 100%;
    width: 74.5%;
    float: right;
    border: 5px solid black;
    border-top: none;
    border-bottom: none;
    border-left: none;
}

.accountant-profile {
    border: 1px solid black;
    padding: 0;
    margin: 10px 23px;
    width: 300px;
    height: auto;
    text-align: center;
    justify-content: center;
    float: left;
}
.accountant-profile img {
    padding-top: 10px;
}

.current-accountant {
    background-color: #ddd;
    border: 1px solid black;
    padding: 0;
    margin: 20px auto;
    width: 300px;
}
.current-accountant img {
    padding-top: 10px;
}

.selectbtn {
    margin-bottom: 15px;
    background-color: #830CE8;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


#comparebtn button {
    margin: 15px auto;
    background-color: #ddd;
    color: black;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}