#Lsidebar {
    text-align: center;
    margin: 0;
    background-color: #830CE8;
    color: orange;
    height: 100%;
    width: 24%;
    float: left;
    border: 5px solid black;
    border-top: none;
    border-bottom: none;
    list-style: armenian;
}

#Rsidebar {
    text-align: center;
    margin: 0;
    background-color: orange;
    height: 100%;
    width: 24%;
    float: right;
    border: 5px solid black;
    border-top: none;
    border-bottom: none;
    list-style: armenian;
}

#main {
    margin: 0 auto;
    text-align: center;
    width: 49%;
    height: 100%;
    float: left;
}
#main p {
    text-align: left;
    padding-left: 20px;
}
#main img {
    border: 2px solid black;
    height: auto;
    width: 90%;
    margin: 15px auto;
}